.cabecalho {
    background-color: teal; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

.navbar-custom {
    background-color: #2a9d8f; /* azul-petróleo suave */
}

.navbar-custom .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-custom .nav-link:hover {
    color: #ffd700; /* dourado para destaque no hover */
}

footer {
    background-color: teal; 
    text-align: center;
    padding: 15px 0;
    color: white;
    font-weight: bold;
}

.container {
            max-width: 900px;
            margin: 0 auto; /* centraliza horizontalmente */
            padding: 20px;
            font-family: Arial, sans-serif;
            text-align: justify;
            color: #333;
        }

        /* Título com cor teal */
        .container h2 {
            color: teal;
            margin-bottom: 15px;
        }

        /* Parágrafos com espaçamento */
        .container p {
            margin-bottom: 15px;
            line-height: 1.6;
        }

        